<aside class="main-sidebar">
    <section class="sidebar">
        <form action="javascript:;" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>

        <ul class="sidebar-menu">
            <li>
                <a class="iframe-jump" data-href="{:U('Welcome/index')}" href="javascript:;">
                    <i class="fa fa-home"></i> <span>首页</span>
                </a>
            </li>
            <li class="header">控制面板</li>
            <li class="treeview">
                <a href="javascript:;">
                    <i class="fa fa-truck"></i> <span>示例DEMO</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="">
                        <a class="iframe-jump" data-href="{:U('Demo/lists')}" href="javascript:;">
                            <i class="fa fa-briefcase"></i> 列表示例
                        </a>
                    </li>
                    <li class="active">
                        <a class="iframe-jump" data-href="{:U('Demo/edit')}" href="javascript:;">
                            <i class="fa fa-pencil-square-o"></i> 输入表单示例
                        </a>
                    </li>
                </ul>
            </li>


            <li class="treeview">
                <a href="javascript:;">
                    <i class="fa fa-truck"></i> <span>基本建档</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="javascript:;"><i class="fa fa-briefcase"></i> 物流管理</a></li>
                    <li><a href="javascript:;"><i class="fa fa-pencil-square-o"></i> 物流登记</a></li>
                    <li><a href="javascript:;"><i class="fa fa-briefcase"></i> 发票管理</a></li>
                    <li><a href="javascript:;"><i class="fa fa-pencil-square-o"></i> 发票登记</a></li>
                </ul>
            </li>

            <li class="treeview">
                <a href="javascript:;">
                    <i class="fa fa-ship"></i> <span>境外托运管理</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="javascript:;"><i class="fa fa-pencil-square-o"></i> 报关登记</a></li>
                    <li><a href="javascript:;"><i class="fa fa-briefcase"></i> 报关管理</a></li>
                </ul>
            </li>

            <li class="treeview">
                <a href="javascript:;">
                    <i class="fa fa-dollar"></i> <span>报价单据管理</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="javascript:;"><i class="fa fa-balance-scale"></i> 报价单比对</a></li>
                    <li><a href="javascript:;"><i class="fa fa-pencil-square-o"></i> 报价单登记</a></li>
                    <li><a href="javascript:;"><i class="fa fa-comment-o"></i> 咨询报价</a></li>
                    <li><a href="javascript:;"><i class="fa fa-commenting-o"></i> 报价单回复</a></li>
                </ul>
            </li>

            <li class="treeview">
                <a href="javascript:;">
                    <i class="fa fa-calculator"></i> <span>计费管理</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="javascript:;"><i class="fa fa-pencil-square-o"></i> 登记费用</a></li>
                </ul>
            </li>

            <li class="header">管理员面板</li>
            <li>
                <a href="javascript:;">
                    <i class="fa fa-user"></i> <span>用户管理</span>
                </a>
            </li>

            <li>
                <a href="javascript:;">
                    <i class="fa  fa-key"></i> <span>权限管理</span>
                </a>
            </li>
        </ul>
    </section>
</aside>