<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <title></title>
        <link rel="stylesheet" href="http://f1.yihuimg.com/concat/mobile/??cross/css/cross.min.css,cross/css/ui.all.min.css" type="text/css" />
    </head>

    <body>
        <div class="c-main">
            <div class="c-failstate c-t-center">
                <i class="icon-norefresh"></i>
                <p>{$msg}<a href="__SELF__">刷新</a></p>
            </div>
        </div>
        <script type="text/javascript" src="http://f1.yihuimg.com/concat/mobile/??cross/js/jquery/2.1.3/jquery.js,cross/js/cross.ui.min.js"></script>
        <script type="text/javascript">

        </script>
    </body>
</html>